/* Generella regler för både mobil och desktop. Om jag vill göra speciella saker från*/

* {
      box-sizing: border-box;
}

body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
}

main,
aside,
.news-or {
      padding: 10px;
}

.clearfix {
      clear: both;
}

.toplink {
      position: fixed;
      right: 0px;
      bottom: 25px;
      background-color: rgb(7, 56, 129);
      padding: 5px;
      border-radius: 5px;
      width: 170px;
}

.toplink a {
      color: white;
}

header {    
      text-align: center;
}

/*La till i mobil för att centerar rukbrik*/

nav a {
      color: white;
      font-size: 1em;
      padding: 12px 9px 12px 9px;

}

nav a:hover,
.active {
      background-color: #f9f9f9;
      color: #000000; 
}

nav {
      background-color: rgb(7, 56, 129);
      padding: 10px;
      margin-bottom: -1px;
      border-radius: 10px;
}

a {
      text-decoration: none;
}

h1,
h2,
h3,
h4 {
      font-family: 'PT Serif', serif;
      color: rgb(7, 56, 129);
}

footer {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: 'Courier New', Courier, monospace;
}

.form {
      border: 1px solid rgb(7, 56, 129);
      border-radius: 5px;
      padding: 5px;
      margin: 10px auto;
      text-align: center;
      display: block;
}

button.form-media:hover {
      background-color: #f9f9f9;
      color: #000;
}

a.emoji-links {
      margin-left: 10px;
}

iframe {
      width: 90%;
      height: 200px;
}


/* burgercode start */
#burger {
      display: none;
}

#burgerlabel {
      display: block;
      font-size: 32px;
      text-align: left;
      background-color: rgb(7, 56, 129);
      color: #fff;
      border-radius: 10px;
}

.menu {
      display: none;
}

#burger:checked+.menu {
      display: block;
      position: absolute;
}

.menu a {
      display: block;
}

/* burgercode end */

main>p:first-of-type::first-letter {
      font-size: 200%;
      font-weight: bold;
      color: rgb(7, 56, 129);
}

aside.borderless {
      border: none;
}

header img {
      border-radius: 10px;
      width: 100%;
}

main img {
      max-width: 90%;
      margin: auto;
      border-radius: 10px;
      display: block;
}

@media(min-width:550px) {
      iframe {
            width: 100%;
            height: 300px;
      }
       /* burgercode start */
        #burgerlabel {
            display: none;
      }

      .menu {
            display: block;
      }

      .menu a {
            display: inline;
      }
 
      /* burgercode end */
}

@media (min-width: 810px) {

      /*Brytpunkt som är 800px eller större är för desktop, laptop osv. Allt under 800px är för plattor och mobiler */
      main {
            float: left;
            width: 600px;
            padding: 5px;
      }

      main img {
            display: inline;
            max-width: 350px;
      }

      body {
            background-color: #f9f9f9;
      }

      .toplink {
            right: 10px;
            width: 100px;
      }

      aside {
            float: right;
            width: 200px;
            padding: 5px;
      }

      .container {
            width: 810px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;
            padding: 5px;
      }

      .contentimg {
            float: right;
            padding: 5px;
      }

      header {
            margin-bottom: 0;
            padding-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
      }

      .form-media {
            width: 50%;
            height: auto;
      }

      iframe {
            width: 500px;
            height: 280px;
      }

      @supports (display: grid) {
            main,
            aside {
                  clear: both;
            }

            .container {
                  display: grid;
                  width: 80%;
                  grid-template-columns: auto 200px;
                  grid-template-areas:
                        "header header"
                        " main news-or";
            }

            header {
                  width: 100%;
                  grid-area: header;
                  padding: 0px;
            }

            main {
                  width: 100%;
                  grid-area: main;
            }

            .news-or {
                  width: 100%;
                  grid-area: news-or;
                  border-left: 5px ridge rgb(7, 56, 129);
                  padding: 5px;
                  margin-top: -1px;
            }
      }
}