


* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

.heading {
    font-family: 'Times New Roman', Times, serif;

}

nav a{
    color: black; 
    font-size: 2
    1em;
    border: 1px solid transparent; 
}
nav a:hover{
    border: 1px solid blue; 
}
.div5 {
    position: sticky; /* vi kanske borde börja med position fixed och ha en support query för sticky (IE) */
    top: 100px;
    float: right;


}

footer {
    text-align: center;
}

a {
    text-decoration: none;
}