body{
    margin: 0px; 
}
* {
    box-sizing: border-box;
}

.container {
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    color: #ffffff; 
    font-size: 2
    1em;
    padding: 10px;
    background-color: blue; 
    border: 1px solid #000000; 
    
}
nav a:hover{
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid blue; 
}
.div5 {
    position: fixed; /* vi kanske borde börja med position fixed och ha en support query för sticky (IE) */
    top: 100px;
    right: 100px;
    background-color: #ffffff; 
}
.div1{
    /*margin-top: 30px;
    margin-left: 10px;  */
    margin: auto;
    width: 235px;
}
.div2{

}

.div3{
    margin-left: 10px;
     
}
footer {
    text-align: center;
}

a {
    text-decoration: none;
}

@media (min-width: 800px){
   /* body{
        background-color: red; 
    } */
    .container{
        width: 800px;
        margin: 0 200px 0 0;
    }
    .left{
        float: left;
        width: 150px; 
        margin-right: 20px;
        height: inherit; 
    }
    .right{
        float: right; 
        width: 620px; 
      
  
    }
    .div3 a{
        display: block; 
        margin: 5px;
    }
    
    .clearfix{
        clear: both;
    }
    .div1, .div2{
        width: 500px; 
        margin: auto;
        margin-top: 10px;
    }



} /* media */




