/* Generella regler för både mobil och desktop. Om jag vill göra speciella saker från*/

* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

main,
aside,
.news-or {
   padding: 10px;
}

.clearfix {
   clear: both;
}

.toplink {
   position: fixed;
   right: 0px;
   bottom: 25px;
   background-color: rgb(7, 56, 129);
   color: white;
   padding: 5px;
   border-radius: 5px;
   width: 170px;
}

.toplink a {
   color: white;

}

header {
   text-align: center;
}

/*La till i mobil för att centerar rukbrik*/


nav a {
   color: floralwhite;
   font-size: 1em;
   padding: 12px 18px 12px 1px;

}

nav a:hover,
.active {
   background-color: #f9f9f9;
   color: #000000;


}

nav {
   background-color: rgb(7, 56, 129);
   padding: 10px;
   /*margin-bottom: -1px;*/

}

a {
   text-decoration: none;
}

nav.pagelinks {
   margin-top: 10px;
}

.infolinks nav a {
   display: block;
}

p {
   font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
   font-family: 'EB Garamond', serif;
}

footer {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   font-family: 'Courier New', Courier, monospace;
}

.form {
   border: 1px solid rgb(7, 56, 129);
   border-radius: 5px;
   padding: 5px;
   margin: 10px auto;
   text-align: center;
   display: block;
}

.center {
   text-align: center;
}

button.form-media:hover {
   background-color: #f9f9f9;
   color: #ffffff;
}

a.emoji-links {
   margin-left: 10px;
}

iframe {
   width: 90%;
   height: 200px;
}

.content_first_char {
   font-size: 25pt;
   font-weight: bold;
}

@media(min-width:550px) {
   iframe {
      width: 100%;
      height: 300px;
   }
}

@media (min-width: 800px) {

   /*Brytpunkt som är 800px eller större är för desktop, laptop osv. Allt under 800px är för plattor och mobiler */
   main {
      float: left;
      width: 600px;
      padding: 5px;
   }

   body {
      background-color: #f9f9f9;
   }

   .toplink {
      right: 10px;
      bottom: 25px;
      width: 100px;
   }

   nav a {
      color: white;
      font-size: 1em;
      padding: 10px;

   }

   nav a:hover,
   .active {
      background-color: #f9f9f9;
      color: #000000;

   }


   aside {
      float: right;
      width: 200px;
      padding: 5px;
   }

   .container {
      width: 802px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0;
      padding: 5px;
   }

   .contentimg {
      float: right;
      padding: 5px;
   }

   header img {
      float: top;
      /*padding-left: 50px;*/
      width: 100%
                           /*För att få loggan i vänstra hörnet*/
   } 


   header {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 20px;
      padding-right: 20px;
   }

   .form-media {
      width: 50%;
      height: auto;
   }

   iframe {
      width: 500px;
      height: 280px;
   }



   @supports (display: grid) {

      main,
      aside {
         clear: both;
         padding: 5px;
      }

      .container {
         display: grid;
         width: 80%;
         padding: 5px;
         grid-template-columns: auto 200px;
         grid-template-areas:
            "header header"
            " main infolinks"
            " main news";


      }

      header {
         width: 100%;
         grid-area: header;
         background-color: #f9f9f9;
         padding: 0px;
         text-align: center;
         padding-bottom: 0;
         margin-bottom: 0;
      }

      main {
         width: 100%;
         grid-area: main;
         background-color: #f9f9f9;
         padding: 5px;
      }

      aside.infolinks {
         width: 100%;
         grid-area: infolinks;
         background-color: #f9f9f9;
         padding: 5px;
         border-left: 5px ridge #99c;
      }

      /*aside.news {
         width: 100%;
         grid-area: news;
         background-color:#f9f9f9;
         border-left: 5px ridge #99c;
         padding: 5px;
      }*/

      .news-or {
         width: 100%;
         grid-row: 2/4;
         /*grid-area:news; */
         background-color: #f9f9f9;
         border-left: 5px ridge rgb(7, 56, 129);
         padding: 5px;
         margin-top: -1;
      }
   }
}

   /*TODO: fixa floaten   */

   /*Vi tog bort aside news i hem och kontakt i html och skapa en ny klass för news och tilldela en annan storlek, grid-row 2/4*/