* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

aside, main, .container {
    border: 1px black solid;
}

.clearfix {
    clear: both;
}
.toplink {
    position: fixed;
    right: 100px;
    bottom: 100px;
    background-color: #ffffff;
    padding: 5px;
}

nav a{
    color: #ffffff; 
    font-size: 2
    1em;
    padding: 10px;
    background-color: blue; 
    border: 1px solid #000000; 
    
}
nav a:hover{
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid blue; 
}

a {
    text-decoration: none;
}

nav.pagelinks {
    margin-top: 10px;
}

.infolinks nav a {
    display: block;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
}

.form{
    border: 1px solid darkblue;
    border-radius: 10px;
 }
 
@media (min-width: 800px){
    main {
        float: right;
        width: 600px;
    }
    aside {
        float: left;
        width: 200px;
    }
    .container {
        width: 802px;
        margin-right: auto;
        margin-left: auto;
    }
    .contentimg {
        float: right;
    }

    @supports (display: grid){
        main, aside {
            clear: both;
        }
        .container {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-areas: 
            "header header"
            "infolinks main"
            "news main";
            
            
        }
        header {
            grid-area: header;
            background-color: #f00;
        }
        main {
            grid-area: main;
            background-color: #fa0;
        }
        aside.infolinks {
            grid-area: infolinks;
            background-color: #ff0;
        }
        aside.news {
            grid-area: news;
            background-color: blue;
        }
    }
}
